*{margin: 0; padding: 0;}
body {background-image: url('../../chamb/images/bg_main.png');}

.titre
{
    position: absolute;
	left: -60%;
	top: 40%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
}
.rec
{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 60px;
    width: 50%;
    height: 40%;
    position: absolute;
    top: 30%;
    right: 210px;
}


table
{
    position: relative;
    top: -10%;
}

td
{
    padding: 0 15px;
}

tr
{
    display: block;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #ffffff;
	font-size: 35px;
	padding: 10px 5px;
	margin: 5px;
    position: relative;
    left: 25%;
}
.categorie
{
    position: relative;
    left: 17%;
}

.boutons
{
    position: relative;
    left: 30%;
    top: 70%;
}

.boutons input:hover
{
    color:#1e96ff;
}

.image
{
    position: relative;
    left: 35%;
}

.rec_modifier
{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 60px;
    width: 50%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 210px;
}


